body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  background-color: black;
  margin: 30px;
}
* {
  box-sizing: border-box;
}
#top{
}
div#p_con {
    border-top-color: black;
    border-left-color: black;
    border-left-style: solid;
    border-top-style: solid;
    border-left-width: 0px;
    border-top-width: 2px;
    border-right-color: black;
    background-color: #0040ff;
    padding: 20px;
    text-align: center;
}
h1 {
  font-family: 'Lora', serif;
  color: #0040ff;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ffff00;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  margin: 30px;
}
h1:hover {
  color: #ffff00;
}
h3 {
  color: #ffff00;
  padding: 5px;
  font-family: 'Lora', serif;
  text-shadow: 1px 1px 1px #222;
  font-size: 20px;
}
#back {
  color: #ffff00;
  font-family: 'Lora', serif;
  font-size: .9em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-align: right;
  margin: 10px;
  display: none;
}
#back:hover {
  color: #00ff00;
}
#Paragraph{
  background: #0040ff;
}
#p1 {
  margin-top: -20px;
  width: 100%;
  text-align: left;
  font-family: Helvetica;
  padding: 10px;
  color: black;
  position: relative;
}
#p4 {
  margin-top: -20px;
  margin-right: -20px;
  align-self: auto;
  border-right-color: black;
  border-left-color: black;
  border-bottom-color: black;
  border-left-style: solid;
  border-left-width: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: #ff9696;
  width: 80px;
  font-weight: bold;
  height: 35px;
  text-align: center;
  font-family: Helvetica;
  color: black;
  float: right;
  padding: 10px;
  font-size: 15px;
  position: initial;
}
#p5 {
  margin-top: -20px;
  margin-right: -20px;
  border-right-color: black;
  border-left-color: black;
  border-bottom-color: black;
  border-left-style: solid;
  border-left-width: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: #b22222;
  font-weight: bold;
  width: 80px;
  height: 35px;
  text-align: center;
  font-family: Helvetica;
  color: white;
  float: right;
  padding: 10px;
  font-size: 15px;
  position: static;
}
#p6 {
  margin-top: -20px;
  margin-right: -20px;
  border-right-color: black;
  border-left-color: black;
  border-bottom-color: black;
  border-left-style: solid;
  border-left-width: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: #ffc265;
  width: 80px;
  height: 35px;
  text-align: center;
  font-weight: bold;
  font-family: Helvetica;
  color: black;
  float: right;
  padding: 10px;
  font-size: 15px;
  position: static;
}
a{
  text-decoration: none;
}
p{
  font-size: 1.2em;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/**********  Web only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 10px solid black;
    margin-top: 20px;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
/********** tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 10px solid black;
    font-size: 115%;
  }
  p{
  font-size: 1.1em;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/********** Mobile devices only **********/
@media (max-width: 767px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 10px solid black;
    font-size: 130%;
  }
  p{
  font-size: 1em;
 }
   #back , h3{
   display: block;
  }
  .col-sd-1 {
    width: 8.33%;
  }
  .col-sd-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-sd-4 {
    width: 33%;
  }
  .col-sd-5 {
    width: 41.66%;
  }
  .col-sd-6 {
    width: 50%;
  }
  .col-sd-7 {
    width: 58.33%;
  }
  .col-sd-8 {
    width: 66.66%;
  }
  .col-sd-9 {
    width: 74.99%;
  }
  .col-sd-10 {
    width: 83.33%;
  }
  .col-sd-11 {
    width: 91.66%;
  }
  .col-sd-12 {
    width: 100%;
  }
}